<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewWeCoPJ.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>625B90D3298A5040006F985A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>625B90EE298A5042006F985A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>625B90F8298A5042006F985A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
